/target
test.db
/logs
tt.txt
output.conf
perf.svg
.DS_Store
/venv1
.VSCodeCounter
check_tmp_block.db
debug
tmp_storage
test_mvm
test_block
/mazzaroth_data
/mazzarothd/mazzaroth_data
/mazzarothd/test_get_block_api
/mazzarothd/test_set_test_tips